html, body, 
ul, li, ol, dl, dd, dt, 
h1, h2, h3, h4, h5, h6, 
form, input, button, fieldset, legend,
p, img { 
  margin: 0; 
  padding: 0;
}
fieldset, img, input, button {
  border: none;
  outline-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul {
  list-style: none;
}
select, input, img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.clearfix::before, .clearfix::after {
  content: "";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
}
.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}